<?xml version="1.0" encoding="UTF-8"?>
<!--
    IIS Configuration File
    This file provides security rules for Windows/IIS servers
-->
<configuration>
    <system.webServer>
        <!-- URL Rewrite Rules -->
        <rewrite>
            <rules>
                <!-- Block access to sensitive directories -->
                <rule name="Block Config Directory" stopProcessing="true">
                    <match url="^config/.*" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
                </rule>
                <rule name="Block Models Directory" stopProcessing="true">
                    <match url="^models/.*" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
                </rule>
                <rule name="Block Controllers Directory" stopProcessing="true">
                    <match url="^controllers/.*" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
                </rule>
                <rule name="Block Views Directory" stopProcessing="true">
                    <match url="^views/.*" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
                </rule>
                <rule name="Block Routes Directory" stopProcessing="true">
                    <match url="^routes/.*" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
                </rule>
                <rule name="Block Logs Directory" stopProcessing="true">
                    <match url="^logs/.*" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
                </rule>
                <rule name="Block Vendor Directory" stopProcessing="true">
                    <match url="^vendor/.*" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
                </rule>
                
                <!-- Block access to hidden files -->
                <rule name="Block Hidden Files" stopProcessing="true">
                    <match url="^\." />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
                </rule>
                
                <!-- Block sensitive files -->
                <rule name="Block Env File" stopProcessing="true">
                    <match url="^\.env.*" ignoreCase="true" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
                </rule>
                <rule name="Block Composer Files" stopProcessing="true">
                    <match url="^composer\.(json|lock)$" ignoreCase="true" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
                </rule>
                <rule name="Block Readme Files" stopProcessing="true">
                    <match url="^(README|CHANGELOG|LICENSE).*" ignoreCase="true" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
                </rule>
                
                <!-- Block PHP files in uploads -->
                <rule name="Block PHP in Uploads" stopProcessing="true">
                    <match url="^uploads/.*\.php$" ignoreCase="true" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
                </rule>
                
                <!-- Route all requests to index.php -->
                <rule name="Main Router" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Security Headers -->
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Disable directory browsing -->
        <directoryBrowse enabled="false" />
        
        <!-- Default document -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        
        <!-- Request filtering for security -->
        <security>
            <requestFiltering>
                <!-- Block access to specific file extensions -->
                <fileExtensions>
                    <add fileExtension=".env" allowed="false" />
                    <add fileExtension=".log" allowed="false" />
                    <add fileExtension=".sql" allowed="false" />
                    <add fileExtension=".bak" allowed="false" />
                    <add fileExtension=".ini" allowed="false" />
                </fileExtensions>
                <!-- Block hidden segments -->
                <hiddenSegments>
                    <add segment=".git" />
                    <add segment=".svn" />
                    <add segment=".env" />
                    <add segment="config" />
                    <add segment="logs" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        
        <!-- Static content caching -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
    </system.webServer>
</configuration>
