<?xml version="1.0" encoding="UTF-8"?>
<!--
    IIS Configuration for Uploads Directory
    Blocks PHP execution and allows only safe file types
-->
<configuration>
    <system.webServer>
        <!-- Disable PHP handler for this directory -->
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <remove name="PHP-php" />
            <remove name="PHP" />
        </handlers>
        
        <!-- Block access to PHP files -->
        <rewrite>
            <rules>
                <rule name="Block PHP Execution" stopProcessing="true">
                    <match url=".*\.php$" ignoreCase="true" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="PHP files not allowed" />
                </rule>
                <rule name="Block Hidden Files" stopProcessing="true">
                    <match url="^\." />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Static content settings -->
        <staticContent>
            <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".png" mimeType="image/png" />
            <mimeMap fileExtension=".gif" mimeType="image/gif" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
        </staticContent>
        
        <!-- Disable directory browsing -->
        <directoryBrowse enabled="false" />
        
        <!-- Security -->
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".php" allowed="false" />
                    <add fileExtension=".phtml" allowed="false" />
                    <add fileExtension=".php3" allowed="false" />
                    <add fileExtension=".php4" allowed="false" />
                    <add fileExtension=".php5" allowed="false" />
                    <add fileExtension=".exe" allowed="false" />
                    <add fileExtension=".sh" allowed="false" />
                    <add fileExtension=".bat" allowed="false" />
                    <add fileExtension=".cmd" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
